<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1>Big Title</h1>
        <p class="sub-header">Your ultimate source for whatever</p>
    </header>

    <div id="carousel">
        <img src="/img/lab.jpg" class="active">
        <img src="/img/autumn.jpg">
        <img src="/img/outdoors.jpg">
    </div>
    <script src="/js/script.js"></script>
</body>
</html>